*{
margin: 0;
padding: 0;
box-sizing: border-box;

}



/* GERAL */
body {
  background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  line-height: 1.2;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
}


/* TÍTULO COM FUNDO COLORIDO */
.titulo-container {
  background-color: rgb(54, 1, 1);
  padding: 0 0;
  text-align: center;
  color: rgb(107, 18, 18);
  

  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.imagem-container img {
  display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; /* permite quebrar linha se necessário */
    margin: 20px 0;
    padding: 0 10px;
    width: 400px;
    text-align: center;
    border-radius: 50px;
  }

.titulo-container h1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color:  rgba(205,124,6,255);
}


nav {
  background-color: rgb(54, 1, 1);
  padding: 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  font-size: 1.2rem;
  color: rgba(205,124,6,255);
  text-decoration: none;
  margin: 0 10px;
  
}


h1{
  color: rgb(107, 18, 18);
}

h2{
    font-size: 1.8rem;
    color: rgb(107, 18, 18);
}



p{
  font-size: 1.1rem;
  color: black;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}



body {
  background-image: url('./img_fundo_site.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550vh;
  margin: 0;
}