* {
    margin: 0;
    padding: 0;
}

title{
    font-size: 3.0rem;
    color: #333;
}


body {
    background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #2c3e50;
}

p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #555;
}

nav {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

nav a {
    font-size: 1.2rem;
    color: #007BFF;
    text-decoration: none;
    margin: 0 15px;
    display: flow-root;
    transition: color 0.3s;
}

nav a:hover {
    color: #0056b3;
    text-decoration: underline;
}

img {
    max-width: 100%;
    
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

