*{
margin: 0;
padding: 0;
box-sizing: border-box;

}



/* GERAL */
body {
  background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  line-height: 1.2;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
}


/* TÍTULO COM FUNDO COLORIDO */
.titulo-container {
  background-color: rgb(54, 1, 1);
  padding: 0 0;
  text-align: center;
  color: rgb(107, 18, 18);
  

  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.titulo-container h1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color:  rgba(205,124,6,255);
}

/* IMAGEM DEPOIS DO TÍTULO */
.imagem-container img {
  width: 100%;
  height: 190px; 
  object-fit: cover;
  display: block;
}


nav {
  background-color: rgb(54, 1, 1);
  padding: 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  font-size: 1.2rem;
  color: rgba(205,124,6,255);
  text-decoration: none;
  margin: 0 10px;
  
}


h1{
  color: black;

}

p{
  font-size: 1.1rem;
  color: black;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Imagem do mapa antigo */
.imagem-mapa img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 30px 0;
}

.mapa {
  margin-top: 30px;
}

body {
  background-image: url('./img_fundo_site.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200vh;
  margin: 0;
}